<div class="container">
  <h1>Filtros Dinâmicos</h1>
  <div class="filters">
    <label for="regiao">Região:</label>
    <input type="text" id="regiao" [(ngModel)]="regiao" (keyup)="applyFilters()">
    
    <label for="especies">Espécie:</label>
    <input type="text" id="especies" [(ngModel)]="especies" (keyup)="applyFilters()">

    <label for="projetosConservacao">Projeto Conservação:</label>
    <input type="text" id="projetosConservacao" [(ngModel)]="projetosConservacao" (keyup)="applyFilters()">

    <label for="temperaturaAgua">Temperatura da Água:</label>
    <input type="number" id="temperaturaAgua" [(ngModel)]="temperaturaAgua" (change)="applyFilters()">

    <label for="pH">pH:</label>
    <input type="number" id="pH" [(ngModel)]="pH" (change)="applyFilters()">

    <label for="nivelPoluicao">Níveis de Poluição:</label>
    <input type="text" id="nivelPoluicao" [(ngModel)]="nivelPoluicao" (keyup)="applyFilters()">
  </div>

  <button></button>

  <table>
    <thead>
      <tr>
        <th>Região</th>
        <th>Espécie</th>
        <th>Status de Conservação</th>
        <th>Temperatura da Água</th>
        <th>pH</th>
        <th>Níveis de Poluição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filteredData">
        <td>{{ data.regiao }}</td>
        <td>{{ data.especies.nome }}</td> <!-- Supondo que cada objeto OceanData tem apenas uma espécie -->
        <!-- <td>{{ data.especies[0].status }}</td> -->
        <td>{{ data.temperaturaAgua }}</td>
        <td>{{ data.pH }}</td>
        <td>{{ data.nivelPoluicao }}</td>
      </tr>
    </tbody>
  </table>
</div>
